body {
  color: #40514E;
  margin: 0px;
  text-align: center;
  font-family: 'Charm';
  font-size: 32px;
}

h1 {
  font-size: 7.625rem;
  margin: 60px auto 0 auto;
  color: #66BFBF;
}

h2{
  font-size: 3.375rem;
  color: #66BFBF;
  line-height:normal;
  font-weight: normal;
}

h3{
  font-size: 2.376rem;
  color:#40514E;
}

a{
  color: #11999E;
  font-family: charm;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #eaf6f6;
}

.copyright{
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}

p{
  line-height: 2;
}

hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.top_container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}

.middle-container{
  margin: 100px 0;
}

.bottom-container{
  background-color: #66bfbf;
  padding: 50px 0 20px;
}


/*
.middle_container {
  height: 200px;
  width: 200px;
  background-color: blue;
  border: 20px;
  border-style: solid;
  border-color: #363636;
}

.bottom_container {
  height: 200px;
  width: 200px;
  background-color: red;
  border: 20px;
  border-style: solid;
  border-color: black ;
  display: inline-block;
}
*/

.pro{
  text-decoration: underline;
}

.intro{
  width: 30%;
  margin: auto;
}

.top-cloud{
  position: absolute;
  top: 50px;
  right: 300px;
}

.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom:300px;
}

.skill-row{
  width:50%;
  margin:100px auto 100px auto;
  text-align: left;
}

.girl{
  background-color: #ffbcbc;
}

.coding{
  width: 45%;
  float: left;
  padding: 30px;
}

.cooking{
  width: 45%;
  float: right;
  padding: 30px;
}

.text1{
  clear: left;
}
.text2{
  clear: right;
}

/*ul{
  display: inline-block;
  text-align:left;
}*/

.contact-me{

}


.btn {
   background: #3D94F6;
   background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: linear-gradient(to bottom, #3D94F6, #1E62D0);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 41px;
   font-weight: 100;
   padding: 34px;
   box-shadow: 1px 1px 20px 7px #000000;
   -webkit-box-shadow: 1px 1px 20px 7px #000000;
   -moz-box-shadow: 1px 1px 20px 7px #000000;
   text-shadow: -18px -7px 20px #000000;
   border: solid #000000 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: linear-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
